# Datensatz einlesen - Datenbasis - csv

CSV steht für comma separated Value --> d.h. dass die Werte durch ein Komma getrennt sind.

Das Trennzeichen ist also standardmäßig ein ,

Beim Speichern von csv Dateien kann das Trennzeichen geändert werden.

Damit die Datei eingelesen werden kann, muss das richtige Trennzeichen mitgegeben werden. Bei der Pandas Funktion read_csv() ist hierfür die Variable sep vorgesehen.

Wie findest du das Trennzeichen heraus?

Wenn das Trennzeichen ein anderes als ein , (Komma) ist, dann bekommen viele die Fehlermeldung "Tokenize Error ..."

Somit kannst du die Datei nicht erst einlesen, um nachzusehen was das richtige Trennzeichen ist.

Damit du nicht erst in die csv Datei schauen musst, um nach dem Trennzeichen zu schauen, gibt es einen kleinen Kniff.

Du kannst als seperator zunächst ein /n mitgeben. Somit kannst du die Datei erst einmal fehlerfrei einlesen. Wenn die Datei eingelesen ist, kannst du den seperator erkennen.

Das richtige Trennzeichen kannst du nun in der read_csv()-Funktion mitgeben.

In [6]:
# benötigte bib importieren

import pandas as pd

In [ ]:
# Trennzeichen herausfinden

df_ebike = pd.read_csv("midterm.csv", sep='/n', engine='python') # engine='python' da sonst Warning erhält
df_ebike.head(2)

  Student  Economics  Fine Arts  Mathematics
0   Kamal         10          7            7
1    Arun          8          8            3

In [12]:
# Datensatz mit richtigen Trennzeichen importieren

df_ebike = pd.read_csv("midterm.csv", sep="*")
df_ebike.head(2)

  Student  Economics  Fine Arts  Mathematics
0   Kamal         10          7            7
1    Arun          8          8            3