<h1><font color='darkblue'>Daten gruppieren (groupby-Funktion)</font></h1>

Für die Visualisierung ist eine Gruppierung der Daten hilfreich.


Hierfür kannst du die groupby() Funktion in Kombination mit der agg() Funktion verwenden.
                            

<h3><font color='darkblue'>groupby()</font></h3>


 1.      groupby()    -->   WELCHE Daten sollen gruppiert werden?
            
            
            
 2.      agg()       -->    WIE sollen die gruppierten Daten berechnet werden?
 
 
<h4><font color='darkblue'>Outside the box:</font></h4> 

 
 agg() oder aggregate()???
 
 Was soll ich verwenden?
 
 Es gibt die agg() und aggregate(). Beide Methoden sehen identisch aus. Welche solltest du also verwenden?
 
 In der Doku findest du eine Antwort :-)

In [1]:
# benötigte bib importieren

import seaborn as sns 
import pandas as pd 
import numpy as np

In [22]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'taxis',
 'tips',
 'titanic']

In [71]:
# Beispieldatensatz

df_tips = sns.load_dataset('tips')
print(df_tips.head())
#df_tips.head(+200)

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
139       13.16  2.75  Female     No  Thur   Lunch     2
140       17.47  3.50  Female     No  Thur   Lunch     2
141       34.30  6.70    Male     No  Thur   Lunch     6
142       41.19  5.00    Male     No  Thur   Lunch     5
143       27.05  5.00  Female     No  Thur   Lunch     6

[144 rows x 7 columns]

Um die Frage: wieviele Männer und Frauen besuchen unser Restaurant? zu beantworten, muss die spalte geschlecht zunächst nach männern und frauen gruppiert werden. danach kann die anzahl ermittelt werden.

In [9]:
# Wie viele Frauen und Männer essen bei uns im restaurant?

# group by - erst gruppieren und danach eine Aggregationsfunktion aufrufen

df_tips.groupby('sex').size()  # Anzahl der Elemente

sex
Male      157
Female     87
dtype: int64

Wenn du mehrere Werte berechnen möchtest, gibst du im groupby deine spalte an die gruppiert werden soll. die zu berechnenden Werte gibst du in der aggregationsfunktion an.

Frage: An welchen Tagen wird wie viel Trinkgeld im Schnitt gegeben und wie viele Leute kommen an den Tagen?

Vorüberlegung: 
              Zu Gruppieren ist nach den Tagen. Die Berechnung erfolgt für das Trinkgeld und die Tage

In [16]:
# An welchen Tagen wird wieviel Trinkgeld gegeben und wieviele Leute waren im restaurant?

df_tips.groupby('day').agg({'tip': np.mean, 'day': np.size})

           tip  day
day
Thur  2.771452   62
Fri   2.734737   19
Sat   2.993103   87
Sun   3.255132   76

In [21]:
# alternativ:'median' = pandas Methoden

#df_tips.groupby('day').agg({'tip': ['mean', np.median, np.min], 'day': np.size})
df_tips.groupby('day').agg({'tip': ['mean', 'median'], 'day': np.size})

           tip         day
          mean median size
day
Thur  2.771452  2.305   62
Fri   2.734737  3.000   19
Sat   2.993103  2.750   87
Sun   3.255132  3.150   76

In [91]:
# Pandas: Gruppieren nach 2 Kriterien 

df_tips_gruppiert = df_tips.groupby(['day', 'smoker']).agg({'tip': [np.size, np.mean]})
#df_tips_gruppiert.groupby(level='smoker','day')
df_tips_gruppiert.loc[:,'tip']

             size      mean
day  smoker
Thur Yes       17  3.030000
     No        45  2.673778
Fri  Yes       15  2.714000
     No         4  2.812500
Sat  Yes       42  2.875476
     No        45  3.102889
Sun  Yes       19  3.516842
     No        57  3.167895

In [89]:
# wie komme ich an smoker?

df_tips_gruppiert.loc[:,'tip']

# spalte exisitert nicht?

             size      mean
day  smoker
Thur Yes       17  3.030000
     No        45  2.673778
Fri  Yes       15  2.714000
     No         4  2.812500
Sat  Yes       42  2.875476
     No        45  3.102889
Sun  Yes       19  3.516842
     No        57  3.167895

In [28]:
df_tips_gruppiert.columns

MultiIndex([('tip', 'size'),
            ('tip', 'mean')],
           )

In [29]:
# also smoker und day sind ein index --> gibt unterschiedliche Wege damit umzugehen

# eine Möglichkeit --> as_index=False setzen

df_tips_gruppiert2 = df_tips.groupby(['smoker', 'day'],as_index=False).agg({'tip': [np.size, np.mean]})
df_tips_gruppiert2

  smoker   day  tip
               size      mean
0    Yes  Thur   17  3.030000
1    Yes   Fri   15  2.714000
2    Yes   Sat   42  2.875476
3    Yes   Sun   19  3.516842
4     No  Thur   45  2.673778
5     No   Fri    4  2.812500
6     No   Sat   45  3.102889
7     No   Sun   57  3.167895

In [30]:
# wie heißen meine spalten?

df_tips_gruppiert2.columns

MultiIndex([('smoker',     ''),
            (   'day',     ''),
            (   'tip', 'size'),
            (   'tip', 'mean')],
           )

In [88]:
df_tips_gruppiert2.loc[:,'smoker
                       ']

   size      mean
0    17  3.030000
1    15  2.714000
2    42  2.875476
3    19  3.516842
4    45  2.673778
5     4  2.812500
6    45  3.102889
7    57  3.167895

Weitere Möglichkeit: reset_index(inplace=True) --> unnötige spalten löschen

Zu beachten: Wenn columns den gleichen Namen haben --> work around: erst gruppieren, dann rename() dann reset_index()

etc....

In [92]:
# Kategorien für einen DataFrame generieren und als Spalte hinzufügen 
categories = ["Single", "Duo", "Gruppe"]
einteilung = [0, 1, 2, 6]

df_tips["Gruppenkategorie"] = pd.cut(df_tips["size"], bins=einteilung, labels=categories)
df_tips

     total_bill   tip     sex smoker   day    time  size Gruppenkategorie
0         16.99  1.01  Female     No   Sun  Dinner     2              Duo
1         10.34  1.66    Male     No   Sun  Dinner     3           Gruppe
2         21.01  3.50    Male     No   Sun  Dinner     3           Gruppe
3         23.68  3.31    Male     No   Sun  Dinner     2              Duo
4         24.59  3.61  Female     No   Sun  Dinner     4           Gruppe
..          ...   ...     ...    ...   ...     ...   ...              ...
239       29.03  5.92    Male     No   Sat  Dinner     3           Gruppe
240       27.18  2.00  Female    Yes   Sat  Dinner     2              Duo
241       22.67  2.00    Male    Yes   Sat  Dinner     2              Duo
242       17.82  1.75    Male     No   Sat  Dinner     2              Duo
243       18.78  3.00  Female     No  Thur  Dinner     2              Duo

[244 rows x 8 columns]

In [93]:
df_tips.transpose()

,0,1,2,3,4,5,6,7,8,9,...,234,235,236,237,238,239,240,241,242,243
total_bill,16.99,10.34,21.01,23.68,24.59,25.29,8.77,26.88,15.04,14.78,...,15.53,10.07,12.6,32.83,35.83,29.03,27.18,22.67,17.82,18.78
tip,1.01,1.66,3.5,3.31,3.61,4.71,2.0,3.12,1.96,3.23,...,3.0,1.25,1.0,1.17,4.67,5.92,2.0,2.0,1.75,3.0
sex,Female,Male,Male,Male,Female,Male,Male,Male,Male,Male,...,Male,Male,Male,Male,Female,Male,Female,Male,Male,Female
smoker,No,No,No,No,No,No,No,No,No,No,...,Yes,No,Yes,Yes,No,No,Yes,Yes,No,No
day,Sun,Sun,Sun,Sun,Sun,Sun,Sun,Sun,Sun,Sun,...,Sat,Sat,Sat,Sat,Sat,Sat,Sat,Sat,Sat,Thur
time,Dinner,Dinner,Dinner,Dinner,Dinner,Dinner,Dinner,Dinner,Dinner,Dinner,...,Dinner,Dinner,Dinner,Dinner,Dinner,Dinner,Dinner,Dinner,Dinner,Dinner
size,2,3,3,2,4,4,2,4,2,2,...,2,2,2,2,3,3,2,2,2,2
Gruppenkategorie,Duo,Gruppe,Gruppe,Duo,Gruppe,Gruppe,Duo,Gruppe,Duo,Duo,...,Duo,Duo,Duo,Duo,Gruppe,Gruppe,Duo,Duo,Duo,Duo

<h2><font color='darkblue'>Unterschied zu Pivot_table()</font></h2>

In [34]:
# beispiel datensatz

df = pd.DataFrame({"A": ["foo", "foo", "foo", "foo", "foo",

                         "bar", "bar", "bar", "bar"],

                   "B": ["one", "one", "one", "two", "two",

                         "one", "one", "two", "two"],

                   "C": ["small", "large", "large", "small",

                         "small", "large", "small", "small",

                         "large"],

                   "D": [1, 2, 2, 3, 3, 4, 5, 6, 7],

                   "E": [2, 4, 5, 5, 6, 6, 8, 9, 9]})

df

     A    B      C  D  E
0  foo  one  small  1  2
1  foo  one  large  2  4
2  foo  one  large  2  5
3  foo  two  small  3  5
4  foo  two  small  3  6
5  bar  one  large  4  6
6  bar  one  small  5  8
7  bar  two  small  6  9
8  bar  two  large  7  9

In [35]:
table = pd.pivot_table(df, values='D', index=['A', 'B'],columns=['C'], aggfunc=np.sum)

table

C        large  small
A   B
bar one    4.0    5.0
    two    7.0    6.0
foo one    4.0    1.0
    two    NaN    6.0

In [36]:
table.columns

Index(['large', 'small'], dtype='object', name='C')

In [37]:
# nachbauen mit groupby und aggregate

table_groupby = df.groupby(['A','B','C']).agg({'D':[np.sum]})
table_groupby

                D
              sum
A   B   C
bar one large   4
        small   5
    two large   7
        small   6
foo one large   4
        small   1
    two small   6

In [38]:
table_groupby.columns

MultiIndex([('D', 'sum')],
           )