<h1><font color='darkblue'>Pandas - nützliche Funktionen - Liste an DF hängen</font></h1>

Durch einen DataFrame zu iterieren, kann sehr zeitintensiv sein. Insbesondere die Funktion iterrow() ist sehr teuer und sollte nur im Notfall verwendet werden.

Oftmals macht es Sinn, Berechnungen auszulagern und in einer Liste zu berechnen und das Ergebnis, welches in einer Liste gespeichert wird, dann wieder an den DataFrame zu hängen. 
                                
Anhand des nachfolgenden Beispiels soll der DataFrame mit den Einwohnerzahlen, welche in einer Liste gespeichert sind, erweitert werden.

In [1]:
import pandas as pd

In [2]:
# Beispiel DataFrame

df = pd.DataFrame({'city': ['Chicago', 'Boston', 'Los Angeles'], 'rank': [1, 4, 5]})
df

          city  rank
0      Chicago     1
1       Boston     4
2  Los Angeles     5

In [3]:
# Beispiel Liste Einwohner

citizen_list = [10,50,80] 
citizen_list

[10, 50, 80]

In [4]:
# Spalte neu definieren und Liste zuweisen

df['citizen'] = citizen_list 
df

          city  rank  citizen
0      Chicago     1       10
1       Boston     4       50
2  Los Angeles     5       80

In [5]:
# alternativ mit insert()

df.insert(1,'citizen_neu',citizen_list)
df

          city  citizen_neu  rank  citizen
0      Chicago           10     1       10
1       Boston           50     4       50
2  Los Angeles           80     5       80