In [1]:
import pandas as pd 
import seaborn as sns
import numpy as np

In [9]:
df = sns.load_dataset('tips')

In [10]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [11]:
# an welchen Wochentagen (day) das Restaurant geöffnet hat 
df['day'].unique()

['Sun', 'Sat', 'Thur', 'Fri']
Categories (4, object): ['Thur', 'Fri', 'Sat', 'Sun']

In [12]:
#wie viele Tische an jedem dieser Tage bedient wurden 
df['day'].value_counts()

day
Sat     87
Sun     76
Thur    62
Fri     19
Name: count, dtype: int64

In [13]:
#neue Spalte 'tip_pct' 
tip_prozent = df['tip']/df['total_bill']
df.insert(2,'tip_pct', tip_prozent)

In [14]:
df.head()

   total_bill   tip   tip_pct     sex smoker  day    time  size
0       16.99  1.01  0.059447  Female     No  Sun  Dinner     2
1       10.34  1.66  0.160542    Male     No  Sun  Dinner     3
2       21.01  3.50  0.166587    Male     No  Sun  Dinner     3
3       23.68  3.31  0.139780    Male     No  Sun  Dinner     2
4       24.59  3.61  0.146808  Female     No  Sun  Dinner     4

In [ ]:
# Kategorien bilden
categories = ["Günstig", "Normal", "Teuer"]
einteilung = [0,15,25,100]
df['bill_class'] = pd.cut(df['total_bill'], bins=einteilung, labels=categories)

In [16]:
df['bill_class'].head()

0     Normal
1    Günstig
2     Normal
3     Normal
4     Normal
Name: bill_class, dtype: category
Categories (3, object): ['Günstig' < 'Normal' < 'Teuer']

In [ ]:
df.groupby('bill_class').agg({"tip":"mean","size":"max","day":"count"})

/var/folders/63/b0j4zw4s4qsc9p9fz3s_r4nw0000gp/T/ipykernel_80399/2232678136.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('bill_class').agg({"tip":"mean","size":"max","day":"count"})

                 tip  size  day
bill_class
Günstig     2.050250     3   80
Normal      3.025596     5  109
Teuer       4.323091     6   55

In [18]:
pivot = df.pivot_table(
    values='tip_pct',   # Was berechnet werden soll
    index='day',  # Die Zeilen    
    columns='time',   # Die Spalten   
    aggfunc='mean' 
)

/var/folders/63/b0j4zw4s4qsc9p9fz3s_r4nw0000gp/T/ipykernel_80399/1858247080.py:1: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  pivot = df.pivot_table(

In [19]:
pivot

time     Lunch    Dinner
day
Thur  0.161301  0.159744
Fri   0.188765  0.158916
Sat        NaN  0.153152
Sun        NaN  0.166897